.users-list {
  list-style: none;
}

.mail-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
  cursor: pointer;
  padding: 5px 0;
}

.mail-column {
  text-align: left;
  width: 20%;
}

.mail-column--name {
  font-weight: bold;
}

.mail-column_content {
  width: 40%;
  color: #e5e5e5;
}

.mail-column--date {
  color: grey;
  font-size: 13px;
}

.mail-content-full {
  width: 100%;
  margin-top: 5px;
  background-color: #e5e5e5;
  padding: 5px 10px;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .mail-row {
    flex-direction: column;
  }

  .mail-column {
    width: 100%;
  }
}
